{{ define "main" }}
<article class="post">
  <section class="post-heading">
    <h1>{{ .Title }}</h1>
    <div class="post-date">{{ .PublishDate.Format "January 2, 2006" }}</div>
    {{ .Scratch.Set "clickable" false }} {{ partial "post-tags.html" .}}
  </section>
  <img class="hero-img" src="{{ .Params.hero_img }}" />
  <section class="post-content">{{ .Content }}</section>
  <section class="subscribe">{{- partial "email-input.html" . -}}</section>
  {{partial "subscribe-modal.html" .}}
</article>
{{ end }}
