article.home {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 50px;
  padding-top: 3rem;
}

article.home img.face {
  width: 100px;
}

article.home ul {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  line-height: 1.5rem;
}
