:root {
  --inter: "Inter", monospace;
  --black: #333333;
}

body {
  font-family: var(--inter);
  color: var(--black);
  margin: 0;
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

div,
p {
  font-size: 1rem;
  color: var(--black);
  line-height: 1.6rem;
}

li {
  line-height: 1.6rem;
}

blockquote {
  background: #f8f8f9;
  border: #F4F4F4;
  padding: 2em;
}

main {
  max-width: 720px;
  min-width: 300px;
  margin: auto;
  padding: 0 15px;
  min-height: calc(100vh - 100px);
}

a {
  text-decoration-style: dotted;
  /* color: var(--black); */
  color: #242DFF;

}

a:hover {
  color: #66FF4E;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}