<section class="subscribe-email">
<div class="email-input">
	<div>I write about early startup lessons, the future of healthcare and cities, and everything in between</div>
	<form id="collectingemail" data-form-id="clgpwaxcl0003b00haytynalt">
		<input placeholder="Email" name="email" type="email" />
		<input type="submit" value="Submit" />
	</form>
	<span id="caption"><a href="https://collecting.email" target="_blank">Collecting.email</a> for Betty Chang</span>
</div>
</section>


<link rel="stylesheet" href="https://collecting.email/form.css" />
<script src="https://collecting.email/form.js"></script>
<style>
	section.subscribe-email {
		display: flex;
		justify-content: center;
	}

	section.subscribe-email span#caption {
		color: grey;
		font-size: 11px;
	}

	section.subscribe-email span#caption a {
		color: grey;
	}

	section.subscribe-email span#caption a:hover {
		color: black;
	}

	.email-input {
		width: 300px;
		background-color: #F4F4F4;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 30px;
		border-radius: 5px;
	}

	#collectingemail * {
		font-family: var(--inter) !important;
	}

	#collectingemail input[type="submit"] {
		background-color: #242DFF !important;
		border: 1px solid #242DFF !important;
		font-size: 14px !important;
	}

	#collectingemail .loader-container {
		background-color: #242DFF !important;
		border: 1px solid #242DFF !important;
	}
</style>