{{ define "main" }}
<article class="home">
  <img class="face" src="/img/face.svg" />
  <section>
    <h1>Betty Chang</h1>
    <br />
    <div>
      I build and invest in solutions that move the needle on human
      sustainability, with specific interests in healthcare access and gender
      equality. I’m currently the Chief of Staff at
      <a href="http://www.capablehealth.com" target="_blank">Capable Health</a>
    </div>
    <br />
    <div>
      My happy place is using — and learning — new technologies (<i>input</i>)
      to build consumer-obsessed products (<i>output</i>) that do good
      (<i>outcome</i>): I’ve crafted strategies to increase STEM education at
      <a href="http://www.luminary-labs.com" target="_blank">Luminary Labs</a>,
      stood up an investment fund for the gender team at
      <a href="http://unicef.com" target="_blank">UNICEF</a>, shipped features
      to improve internet security at
      <a href="http://www.intel.com" target="_blank">Intel</a>, and researched
      how to make our cities more vibrant places to live at
      <a href="http://www.sidewalklabs.com" target="_blank">Sidewalk Labs</a>.
    </div>
    <br />
    <div>
      I have a penchant for contemporary art, DIY crafts, vintage lamps, and dim
      sum.
    </div>
  </section>
  <section>
    <h2>Contact</h2>
    <br />
    <div>Find me IRL in NYC, or virtually below:</div>
    <ul>
      <li><a href="mailto:bttychng@gmail.com">Email -></a></li>
      <li>
        <a href="https://twitter.com/thebettychang" target="_blank"
          >Twitter -></a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/betchang/" target="_blank"
          >Linkedin -></a
        >
      </li>
    </ul>
  </section>

  <section>
    <h2>Subscribe</h2>
    <br />
    <div>
      Once in a while, I write. Get <a href="/posts">those writings here</a> and
      get them in your inbox:
    </div>
  </section>
</article>
{{ end }}
